.catalog {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25rem;
    border: 1px solid #ced4da;
    color: var(--main-gray-color);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.catalog-item__title {
    margin-bottom: auto;
}

.catalog-item__img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    padding: var(--spacing-medium) 0;
}

.catalog-item__price {
    font-weight: 600;
    padding: var(--spacing-medium) 0;
    text-align: center;
}

.catalog-item__btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}