@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i01nha');
  src:  url('fonts/icomoon.eot?i01nha#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i01nha') format('truetype'),
    url('fonts/icomoon.woff?i01nha') format('woff'),
    url('fonts/icomoon.svg?i01nha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\f1f8";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
